@model SOPACE_MVC.Models.lembur

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/MasterLayout/MasterAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px">
            <h1 class="page-header">Edit Data Lembur</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <form id="formAdd">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("ID Lembur", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.id_lembur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.id_lembur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NIP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NIP, new { htmlAttributes = new { @class = "form-control", id = "nip", @readonly="readonly" } })
                        @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })
                    </div>
                    <div><label id="asd"></label></div>
                </div>
                <div class="form-group">
                    @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.tanggal, new { htmlAttributes = new { @class = "form-control", type = "date", id = "tgl" } })
                        @Html.ValidationMessageFor(model => model.tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Jam Mulai Lembur", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.jam_mulai, new { htmlAttributes = new { @class = "form-control", type = "time", id = "jamm" } })
                        @Html.ValidationMessageFor(model => model.jam_mulai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Jam Selesai Lembur", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.jam_selesai, new { htmlAttributes = new { @class = "form-control", type = "time", id = "jams" } })
                        @Html.ValidationMessageFor(model => model.jam_selesai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Total Jam Lembur", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.total_jam, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "totjam" } })
                        @Html.ValidationMessageFor(model => model.total_jam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" onclick="return confirm('Are you sure to edit this Form?')" value="Edit" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Show", null, new { @class="btn btn-danger" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section script{
    <script>      
        $().ready(function () {
            $("#totjam").html("");
            $("#jams, #jamm").change(function () {
                var stime = $('#jamm').val();
                var etime = $('#jams').val();
                var hours = etime.split(':')[0] - stime.split(':')[0];
                var minutes = etime.split(':')[1] - stime.split(':')[1];
                minutes = minutes.toString().length < 2 ? '0' + minutes : minutes;
                if (minutes < 0) {
                    hours--;
                    minutes = 60 + minutes;
                    if (hours < 0) {
                        $("#totjam").css("border-color", "red");
                    }
                    else {
                        $("#totjam").css("border-color", "");
                    }
                }
                hours = hours.toString().length < 2 ? '0' + hours : hours;
                $('#totjam').val(hours + ':' + minutes);
            });
        });

        $("#tgl").val('@Model.tanggal.Value.ToString("yyy-MM-dd")');

        $("#formAdd").on("submit", function (e) {
            var stime = $("#jamm").val();
            var etime = $("#jams").val();
            var nip = $("#nama").text();
            var tanggal = $("#tgl").val();

            if (stime > etime) {
                alert("Start Time Should Not Be Greater Than End Time");
            } else if (stime == '' || etime == '') {
                alert("Start Time Or End Time Cannot Be Null");
            } else if (tanggal == '') {
                alert("Date Cannot Null");
            } else {
                e.preventDefault();
                   let formdata = $(this).serialize();
                   $.ajax({
                        url: '@Url.Action("EditLembur", "Lembur")',
                        type: 'POST',
                        data: formdata,
                        success: function (data) {
                            alert("Edit Successfully..");
                            location.href = "/Lembur/Show";
                        }
                   });
            }
        });
    </script>
    }