@model SOPACE_MVC.Models.klaim_medis

@{
    ViewBag.Title = "EditClaimMedical";
    Layout = "~/Views/MasterLayout/MasterAdmin.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Rawat Jalan",
        Value = "Rawat Jalan"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Rawat Inap",
        Value = "Rawat Inap"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Kacamata",
        Value = "Kacamata"
    });
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px">
            <h1 class="page-header">Edit Data Klaim Medis</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" style="background-color:lightblue">
        @using (Html.BeginForm("UpdateClaim", "Claim", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAdd" }))
        {
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="margin-top:20px">
                    @Html.LabelFor(model => model.NIP, "NIP:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.NIP, new { htmlAttributes = new { @class = "form-control",
                               placeholder = "Nomor Indentitas Pegawai", onkeypress = "return hanyaAngka(event)",
                               @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })
                    </div> <label id="lblCheck"></label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nama_pasien, "Nama Pasien:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.nama_pasien, new { htmlAttributes = new { @class = "form-control",
                                placeholder = "Nama Pasien" } })
                        @Html.ValidationMessageFor(model => model.nama_pasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.hubungan_pasien, "Hubungan Pasien:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.hubungan_pasien, new { htmlAttributes = new { @class = "form-control",
                                    placeholder = "Hubungan Pasien dengan Anda" } })
                        @Html.ValidationMessageFor(model => model.hubungan_pasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.id_tipe, "Tipe Klaim:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.id_tipe, new SelectList(listItems, "Value", "Text"), "-- Select Tipe Medis --", new
                            {@class = "form-control", id="TipeKlaim"})
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.tgl_perawatan, "Tanggal Perawatan:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.tgl_perawatan, new { htmlAttributes = new { @class = "form-control",
                                                            placeholder = "Tanggal Masuk Rumah Sakit", type= "date"}})
                        @Html.ValidationMessageFor(model => model.tgl_perawatan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nama_dokter, "Nama Dokter:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.nama_dokter, new { htmlAttributes = new { @class = "form-control", placeholder = "Nama Dokter" } })
                        @Html.ValidationMessageFor(model => model.nama_dokter, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.alamat_rs, "Alamat:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.TextAreaFor(m => m.alamat_rs, new { @class = "form-control", placeholder = "Alamat Lengkap Rumah Sakit" })
                        @Html.ValidationMessageFor(model => model.alamat_rs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.no_tlp, "No. Telp:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.no_tlp, new { htmlAttributes = new { @class = "form-control",
                                            placeholder = "No. Telp RS (Ex. 0212323xxx)", maxlength = 12}})
                        @Html.ValidationMessageFor(model => model.no_tlp, "", new { @class = "text-danger" })
                        <span style="color:red" id="pesan1"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.diagnosa, "Diagnosa:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.diagnosa, new { htmlAttributes = new { @class = "form-control", placeholder = "Diagnosa Penyakit" } })
                        @Html.ValidationMessageFor(model => model.diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.total_tagihan, "Total Tagihan:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.total_tagihan, new { htmlAttributes = new { @class = "form-control",
                                      placeholder = "Total Tagihan Rumah Sakit" } })
                        @Html.ValidationMessageFor(model => model.total_tagihan, "", new { @class = "text-danger" })
                        <span style="color:red" id="pesan2"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" id="btn_save" />
                        <input type="button" value="Cancel" class="btn btn-danger"
                               onclick="location.href='/Claim/ViewClaimMedical'" />
                    </div>
                </div>
                @Html.HiddenFor(m => m.status)
                @Html.HiddenFor(m => m.id_tipe)
                @Html.HiddenFor(m => m.id_klaim_medis)
            </div>

        }
    </div>
</div>

@section Script{
    <script src="~/Scripts/lodash.js"></script>
    <script>

        //ketika input total tagihan dengan huruf, akan hilang karena tidak boleh pakai huruf
        $(document).ready(function () {
            $('#total_tagihan').keyup(function () {
                this.value = this.value.replace(/[^0-9.]/g, '');
            });
        });

        //validasi No Telp
        $(document).ready(function () {
            $("#no_tlp").keypress(function (data) {
                if (data.which != 8 && data.which != 0 && (data.which < 48 || data.which > 57)) {
                    $("#pesan1").html("Tidak boleh menggunakan huruf").show().fadeOut("slow");
                    return false;
                }
            });
        });

        //validasi Total tagihan
        $(document).ready(function () {
            $("#total_tagihan").keypress(function (data) {
                if (data.which != 8 && data.which != 0 && (data.which < 48 || data.which > 57)) {
                    $("#pesan2").html("Tidak boleh menggunakan huruf").show().fadeOut("slow");
                    return false;
                }
            });
        });

        $().ready(function () {
            $("#tgl_perawatan").val('@TempData["tgl_perawatan"]');
        })

        $("#TipeKlaim").on("change", function (value) {
            var valueTipeMedic = value.target.selectedOptions[0].value
            $("#id_tipe").val(`${valueTipeMedic}`);
        });

        $(document).ready(function () {
            $('#formAdd').validate({
                errorClass: 'help-block animation-slideDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    e.parents('.form-group > div').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'nama_pasien': {
                       required: true,
                    },

                    'tgl_perawatan': {
                        required: true,
                    },

                    'alamat_rs': {
                        required: true,
                    },

                    'no_tlp': {
                        required: true,
                    },

                    'diagnosa': {
                        required: true,
                    },

                    'total_tagihan': {
                        required: true,
                    }
                },
                submitHandler: function (form) { //setelah sukses, data akan dimasukkan ke database
                    //e.preventDefault();
                    let formdata = $(form).serialize();
                    $.ajax({
                            url: '@Url.Action("UpdateClaim","Claim")',
                            type: 'POST',
                            data: formdata,
                            success: function (data) {
                                alert("Data is Successfully Updated..");
                                location.href = '/Claim/ViewClaimMedical';
                            },
                            error: function () {
                                alert("Update Data Failed..");
                            }
                    });
                }
            });
        });
    </script>
}
