@model IEnumerable<SOPACE_MVC.Models.klaim_medis>

@{
    ViewBag.Title = "ViewClaimMedical";
    Layout = "~/Views/MasterLayout/MasterAdmin.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">List Claim Medical</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills" id="navpill_">
                        <li class="active" id="Requested">
                            <a href="#home-pills" data-toggle="tab">Requested</a>
                        </li>
                        <li id="Processed">
                            <a href="#profile-pills" data-toggle="tab">Processed</a>
                        </li>
                        <li id="Finished">
                            <a href="#messages-pills" data-toggle="tab">Finished</a>
                        </li>
                        <li id="Rejected">
                            <a href="#messages-pills" data-toggle="tab">Rejected</a>
                        </li>
                    </ul>
                </div>
                
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover tbl_viewClaim">
                        <thead>
                            <tr>
                                <th style="text-align:center" scope="col" width="230px" height=25px>NIP</th>
                                <th style="text-align:center" scope="col" width="150px" height=25px>Tipe Klaim</th>
                                <th style="text-align:center" scope="col" width="150px" height=25px>Tanggal</th>
                                <th style="text-align:center" scope="col" width="150px" height=25px>Total Tagihan</th>
                                <th style="text-align:center" scope="col" width="150px" height=25px>Status</th>
                                <th style="text-align:center" scope="col" width="280px" height=25px>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->
    <div class="modal" tabindex="-1" role="dialog" id="mymodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">View Detail Claim</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="claimdetail">
                        <table>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Tipe Medis</span></td>
                                <td><label id="tipe"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>NIP</span></td>
                                <td><label id="nip"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Nama Pasien</span></td>
                                <td><label id="npasien"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Hubungan Dengan Pasien</span></td>
                                <td><label id="hbgn"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Alamat RS</span></td>
                                <td><label>:</label></td>
                                <td><textarea id="alamat" readonly style="width:300px; height:100px; margin-left:-93px;"></textarea></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>No. Telp</span></td>
                                <td><label id="notlp"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Tanggal Rawat</span></td>
                                <td><label id="tglrwt"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Total Biaya</span></td>
                                <td><label id="total"></label></td>
                            </tr>
                            <tr>
                                <td scope="col" width="180px" height="50px"><span>Klaim yang dibayarkan</span></td>
                                <td><label id="payout"></label></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->
</div>
@section Script{
    <script>
        var nip="";
        var temp = "Requested";
        $().ready(function () {
            getData(temp);            
        });

        $("#navpill_").click("li", function (e) {
            $("#navpill_ li.active").removeClass("active");
            $(this).addClass("active");           
            getData(e.target.innerHTML);
            temp = e.target.innerHTML;
        });

        function ViewDetail(idklaim) {
            $.get('@Url.Action("detailClaim","Claim")'
                , { 'idklaim': idklaim }
                , function (model) {
                    console.log(model);
                    $("#tipe").html(": " + `${model[0].id_tipe}`);
                    $("#nip").html(": " + `${model[0].NIP}`);
                    $("#npasien").html(": " + `${model[0].nama_pasien}`);
                    $("#hbgn").html(": " + `${model[0].hubungan_pasien}`);
                    $("#alamat").html(`${model[0].alamat_rs}`);
                    $("#notlp").html(": " + `${model[0].no_tlp}`);
                    $("#tglrwt").html(": " + `${model[0].value}`);
                    $("#total").html(": " + `${model[0].total_tagihan}`);
                    $("#payout").html(": " + `${model[0].payout}`);                
            });
        }

        function getData(StatusReq) {
            $('.tbl_viewClaim').DataTable().destroy();
             $.get(
                 '@Url.Action("getDataListClaim","Claim")',
                 { 'status': StatusReq },
                function (data) {
                    $( ".tbl_viewClaim tbody").empty();
                    $.each(data, function (i, model) {
                        nip = model.NIP;
                        var date = `${model.value}`
                        //=========================================================== button Request 
                        var btn_delete = `<button onclick="DeleteClaim('${model.id_klaim_medis}')" class='btn btn-danger'>Delete</button>`;
                        var btn_edit = `<a href="/EditClaim/${model.id_klaim_medis}" class='btn btn-primary'>Edit</a>`;
                        var btn_process = `<button id="${model.id_klaim_medis}" name="Processed" class='btn btn-success'>Proses</button>`;

                        //============================================================ button Proses
                        var btn_detail = `<a class='btn btn-info' onclick="ViewDetail('${model.id_klaim_medis}')" data-toggle='modal' data-target='#mymodal'>
                                            <i class="glyphicon glyphicon-eye-open"></i>Detail</a>`;
                        var btn_accept = `<a id="${model.id_klaim_medis}" onclick="UpdateSaldo('${model.id_klaim_medis}')"
                                            class='btn btn-success'><i class="glyphicon glyphicon-ok"></i>Accept</a>`;

                        //============================================================ button Finish                       

                        //============================================================= untuk memasukkan ke dalam IF ELSE
                        var statusRequested = `<td style=text-align:center height=50px > ${btn_process} ${btn_edit} ${btn_delete} </td >` + `</tr >`;
                        var statusProcessed = `<td style=text-align:center height=50px > ${btn_accept} ${btn_detail} </td >` + `</tr >`;
                        var statusFinished = `<td style=text-align:center height=50px > ${btn_detail} </td >` + `</tr >`;

                        //============================================================== Membuat row
                        var rows = `<tr>`
                            + `<td style=text-align:center height=50px>${model.NIP}</td>`
                            + `<td style=text-align:center height=50px >${model.id_tipe}</td >`
                            + `<td style=text-align:center height=50px > ${date}</td >`
                            + `<td style=text-align:center height=50px > ${model.total_tagihan}</td >`
                            + `<td style=text-align:center height=50px > ${model.status}</td >`;
                        if (model.status == "Requested") {
                            $(".tbl_viewClaim tbody").append(rows + statusRequested);
                        } else if (model.status == "Processed") {
                            $(".tbl_viewClaim tbody").append(rows + statusProcessed);
                        } else {
                            $(".tbl_viewClaim tbody").append(rows + statusFinished);
                        }
                        $('.tbl_viewClaim').DataTable();
                    });
                    
                });            
        }

        $(".tbl_viewClaim tbody").on("click", "button", function (e) {
            $.get('@Url.Action("updateClaim", "Claim")',
                { 'idClaim': $(this)[0].id, 'status': $(this)[0].name },
                function (data)
                {
                    getData(temp);
                }
            )
        });

        function UpdateSaldo(idklaim) {
            $.post('@Url.Action("GetNama","Claim")',
                {
                    id: nip
                }, function (data) {
                    console.log(data);
                    if (data == 'true') {
                        $.get('@Url.Action("updateClaim", "Claim")',
                            { 'idClaim': idklaim, 'status': "Finished" });
                        $.get('@Url.Action("updatePlafond", "Claim")',
                            { 'idClaim': idklaim },
                            function (data) {
                                alert(data);
                                getData(temp);
                            }
                        );
                    } else {
                        $.get('@Url.Action("updateClaim", "Claim")',
                            { 'idClaim': idklaim, 'status': "Rejected" },
                            function ()
                            {
                                alert("Claim Request Rejected");
                                getData(temp);
                            }
                        )

                    }
                }
            );
            
        }       

        function DeleteClaim(idklaim) {
            console.log(idklaim);
            var checkstr = confirm(`Are you sure you want to delete ${idklaim}?`);
            if (checkstr == true)
            {
                $.get(`/DeleteClaim/${idklaim}`, function (data) {
                    alert(`Delete ${idklaim} Successfully`);                    
                    getData(temp);
                });
            } else
            {
                return false;
            }
            //location.href = `/DeleteClaim/${idklaim}`
        }

    //function handleDelete(e, stop) {
    //    if (stop) {
    //        e.preventDefault();
    //        swal({
    //            title: "Are you sure?",
    //            text: "You will not be able to recover the delaer again!",
    //            type: "warning",
    //            showCancelButton: true,
    //            confirmButtonColor: "#DD6B55",
    //            confirmButtonText: "Yes, delete!",
    //            closeOnConfirm: false
    //        },
    //        function (isConfirm) {
    //            if (isConfirm) {
    //                swal("Deleted", "", "success");
    //                $('.delete').trigger('click', {});
    //            }
    //            else {
    //                swal("Cancelled", "", "error");
    //            }
    //        });
    //    }
    //};
    //    $("[data-toggle=popover]").popover()
    </script>
}


@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama_pasien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_tipe)
            </td>
            <td>
                @Convert.ToDateTime(item.tgl_perawatan).ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_tagihan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModal">
                    Process
                </button>
                <a href="@Url.Action("EditClaim",
                                                    new {id = item.id_klaim_medis})" class="btn btn-xs btn-primary"
                   onclick="return confirm ('Are you sure want to edit?');">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                </a>
                @*==========================================================*@
@*                  <a href="@Url.Action("DeleteClaim",
                                                    new {id = item.id_klaim_medis})" class="btn btn-xs btn-danger"
                   onclick="return confirm ('Are you sure want to delete?');" />
                <i class="glyphicon glyphicon-remove"></i> Delete
            </td>
        </tr>
    }*@