<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sopace Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="~/Style/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Style/MatrixAdmin/dist/js/jquery-steps/jquery.steps.css" rel="stylesheet" />
    <link href="~/Style/MatrixAdmin/dist/js/jquery-steps/steps.css" rel="stylesheet" />
    <link href="~/Style/dist/css/sb-admin-2.css" rel="stylesheet" />    
    <link href="~/Style/MatrixAdmin/dist/select2/dist/css/select2.min.css" rel="stylesheet" />

    <!-- DataTables CSS -->
    <link href="~/Style/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" />

    <!-- DataTables Responsive CSS -->
    <link href="~/Style/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Style/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top navbar-fixed-top"  role="navigation" style="margin-bottom:0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("","Admin")">Sistem Operational ACE</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">                      
                        <li>
                            <a href="/Edit_Admin/@TempData["username"]"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            @*------------- ASIDE ---------------------*@
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Data Karyawan<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ViewAll","Admin")">Lihat Daftar Karyawan</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddPersonalInfo","Admin")">Tambah Data Karyawan</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("ManageReq","Request")"><i class="fa fa-envelope-o fa-fw"></i> Request Surat</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> Cuti<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("FormListCuti","Cuti")">Daftar Cuti Karyawan</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CutiMassal","Cuti")">Form Cuti Bersama Karyawan</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Cuti")">Form Cuti Pribadi Karyawan</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-clock-o fa-fw"></i> Lembur<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ShowLembur","Admin")">Lihat Data Lembur</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddLembur","Admin")">Input Form Lembur</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-medkit fa-fw"></i> Claim Medical<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ViewClaimMedical","Claim")">Lihat Data Claim Medical</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddClaimMedical","Claim")">Input Claim Request</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu_superuser">
                            <a href="#"><i class="fa fa-user-md fa-fw"></i> Daftar Admin<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ViewAdmin","SuperAdmin")">Lihat Data Admin</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddAdmin","SuperAdmin")">Tambah Admin</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        @RenderBody()
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Style/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Style/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Style/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Style/dist/js/sb-admin-2.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/Style/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Style/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Style/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Style/vendor/bootstrap/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Style/MatrixAdmin/dist/js/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
            @{
                var role="";
                try
                {
                     role = @Session["user_role"].ToString();
                }
                catch (Exception)
                {
                    role = "out";
                }

            }
            if ('@role' == 'admin') {
                $("#menu_superuser").hide();
            } else if ('@role' == 'out') {
                location.href = "/home"
            } else {
                $("#menu_superuser").show();
            }
        });


    </script>
    @RenderSection("Script")
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->



</body>
</html>
