@model SOPACE_MVC.Models.klaim_medis
@{
    ViewBag.Title = "InputClaimMedical";
    Layout = "~/Views/MasterLayout/MasterAdmin.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Rawat Jalan",
        Value = "Rawat Jalan"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Rawat Inap",
        Value = "Rawat Inap"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Kacamata",
        Value = "Kacamata"
    });
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard Admin</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        @*@using (Html.BeginForm(new { id="formAdd" }))
        , onkeypress="return hanyaAngka(event)"
        {*@
        <form id="formAdd">
            <div class="form-horizontal">

                <h4>Input Claim Medical</h4> <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.NIP, "NIP:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.NIP, new { htmlAttributes = new { @class = "form-control",
                                placeholder = "Nomor Indentitas Pegawai" } })
                        @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })
                    </div> <label id="lblCheck"></label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nama_pasien, "Nama Pasien:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.nama_pasien, new { htmlAttributes = new { @class = "form-control",
                                placeholder = "Nama Pasien" } })
                        @Html.ValidationMessageFor(model => model.nama_pasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.hubungan_pasien, "Hubungan Pasien:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.hubungan_pasien, new { htmlAttributes = new { @class = "form-control",
                                    placeholder = "Hubungan Pasien dengan Anda" } })
                        @Html.ValidationMessageFor(model => model.hubungan_pasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.id_tipe, "Tipe Medis:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.id_tipe)
                        @Html.DropDownList("TipeMedis", new SelectList(listItems, "Value", "Text"), "Select Tipe Medis", new
                            {@class = "form-control", id="TipeMedis" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.tgl_perawatan, "Tanggal Perawatan:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.tgl_perawatan, new { htmlAttributes = new { @class = "form-control",
                                                            placeholder = "Tanggal Masuk Rumah Sakit", type= "date" } })
                        @Html.ValidationMessageFor(model => model.tgl_perawatan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nama_dokter, "Nama Dokter:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.nama_dokter, new { htmlAttributes = new { @class = "form-control", placeholder = "Nama Dokter" } })
                        @Html.ValidationMessageFor(model => model.nama_dokter, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.alamat_rs, "Alamat:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.TextAreaFor(m => m.alamat_rs, new { @class = "form-control", placeholder = "Alamat Lengkap Rumah Sakit / Optik" })
                        @Html.ValidationMessageFor(model => model.alamat_rs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.no_tlp, "No. Telp:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.no_tlp, new { htmlAttributes = new { @class = "form-control",
                                            placeholder = "Nomor Telepon (Ex. 021 323xxxx)", onkeypress="return hanyaAngka(event)", maxlength = 11}})
                        @Html.ValidationMessageFor(model => model.no_tlp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.diagnosa, "Diagnosa:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.diagnosa, new { htmlAttributes = new { @class = "form-control",
                                            placeholder = "Diagnosa Penyakit" } })
                        @Html.ValidationMessageFor(model => model.diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.total_tagihan, "Total Tagihan:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.total_tagihan, new { htmlAttributes = new { @class = "form-control",
                                     onkeypress = "return hanyaAngka(event)", placeholder = "Total Tagihan Rumah Sakit" } })
                        @Html.ValidationMessageFor(model => model.total_tagihan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-success" id="btn_submit" />
                        <input type="button" value="Cancel" class="btn btn-danger"
                               onclick="location.href='ViewClaimMedical'" />
                        @Html.ActionLink("Back to List", "ViewClaimMedical")
                    </div>
                </div>                
            </div>
        </form>

    </div>
</div>
@section Script{
    <script>
        var submissioEnabled = true;
        function hanyaAngka(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function Disable() {
            if (submissioEnabled) {
                submissioEnabled = false;
                return true;
            } else {
                return false;
            }
        }
        $("#TipeMedis").on("change", function (value) {
            var valueTipeMedic = value.target.selectedOptions[0].value
            $("#id_tipe").val(valueTipeMedic);
        });
        function refresh() {
            $("#NIP").val("");
            $("#lblCheck").val("");
            $("#nama_pasien").val("");
            $("#hubungan_pasien").val("");
            $("#tipe_medis").val("");
            $("#tgl_perawatan").val("");
            $("#nama_dokter").val("");
            $("#alamat_rs").val("");
            $("#no_tlp").val("");
            $("#diagnosa").val("");
            $("#total_tagihan").val("");
        }
        //$("#TipeMedis").focusout(function (value) {
        //    console.log(value.target.selectedIndex);
        //    $("#id_tipe").val(value.target.selectedIndex);
        //});
        $().ready(function () {
            //$("#status").val("Requested")
            //$("#id_klaim_medis").val("3")
            //$("#id_tipe").val("1")
        });

        $('#NIP').change(function () {
            $('#lblCheck').html("Checking....");
            $.post('@Url.Action("GetNama","Claim")',
                {
                    id: $("#NIP").val()
                },
                function (data) {
                    if (data == 0) {
                        $('#lblCheck').html('<font color="Red">NIP Tidak Terdaftar</font>');
                        $('#NIP').css("border-color", "red");
                    }
                    else {
                        if (data == 'Karyawan Diperbolehkan untuk Klaim Medis') {
                            $('#NIP').css("border-color", "black");
                            $('#lblCheck').html(`<font color="Green">${data}</font>`);
                        } else {
                            $('#NIP').css("border-color", "black");
                            $('#lblCheck').html(`<font color="Red">${data}</font>`);
                        }
                    }
                });
        });

        $(document).ready(function () {
            $('#formAdd').validate({
                errorClass: 'help-block animation-slideDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    e.parents('.form-group > div').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'NIP': {
                        required: true,
                    },

                    'nama_pasien': {
                       required: true,
                    },
                    
                    'tgl_perawatan': {
                        required: true,
                    },
                    
                    'alamat_rs': {
                        required: true,
                    },

                    'no_tlp': {
                        required: true,
                    },

                    'diagnosa': {
                        required: true,
                    },

                    'total_tagihan': {
                        required: true,
                    }
                },
                submitHandler: function (form) { //setelah sukses, data akan dimasukkan ke database
                    //e.preventDefault();
                    let formdata = $(form).serialize();
                    $.ajax({
                            url: '@Url.Action("AddClaim","Claim")',
                            type: 'POST',
                            data: formdata,
                            success: function (data) {
                                alert(data);
                                refresh();
                            },
                            error: function () {
                                alert("Insert Data Failed");                                
                            }
                    });
                }
            });
        });

    </script>
}