<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adicipta Carsani Ekakarya</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section col-md-12 row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">News</li>
                <li class="list-group-item"><a href="#">Request Surat slip Gaji</a></li>
                <li class="list-group-item"><a href="@Url.Action("/ViewBR")">Request Surat Surat Keterangan Buka Rekening</a></li>
                <li class="list-group-item"><a href="@Url.Action("/ViewKKRJ")">Request Surat Keterangan Kerja</a></li>
                <li class="list-group-item">Request Surat Keterangan Buat NPWP</li>
            </ul>
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
    </div>
    <div class="footer text-center">
        &copy;2019 Adicipta Carsani Ekakarya
    </div>
    <script src="~/Style/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Style/vendor/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("script")
</body>
</html>
