@model SOPACE_MVC.Models.NPWP

@{
    ViewBag.Title = "FormEditNPWP";
    Layout = "~/Views/MasterLayout/MasterUser.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2>Request Surat Keterangan Mmebuat NPWP</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <form id="FormNPWP" name="FormNPWP">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>NPWP</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_req)

                <div class="form-group">
                    @Html.LabelFor(model => model.no_tlp, "No Tlp", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.no_tlp, new { htmlAttributes = new { @class = "form-control", id = "txtnotlp", style = "width:500px", required = "required" } })
                        @Html.ValidationMessageFor(model => model.no_tlp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.alamat_kantor_pajak, "Alamat Kantor Pajak", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.alamat_kantor_pajak, new { @class = "form-control", id = "txtalamat", style = "width:500px", maxlength="150", onKeyUp = "hitungtext()", required = "required" })<span id="hasil">0</span>/150 Karakter
                        @Html.ValidationMessageFor(model => model.alamat_kantor_pajak, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            @Html.ActionLink("Back to List", "ViewNPWP")
        </div>

    </div>
</div>

@section script{
    <script type="text/javascript">

        $("#FormNPWP").on("submit", function (e) {
                    var check = confirm("Are you sure to update data?")
                        e.preventDefault();
            let formdata = $("#FormNPWP").serialize();
            if (check == true) {
                $.ajax({
                    url: '@Url.Action("UpdateNPWP","User")',
                    type: 'POST',
                    data: formdata,
                    success: function (data) {
                        alert(data);
                        refresh();
                    }
                });
            } else {
                return false
            }
                   
         });
                function refresh() {
                    $("#txtTgl").val("");
                    $("#txtnotlp").val("");
                    $("#txtalamat").val("");
                    var total = document.getElementById('hasil');
                    total.innerHTML = 0;
                } 
        
                function hitungtext() {
                    var teks = document.FormNPWP.txtalamat.value.length;
                    var total = document.getElementById('hasil');
                    total.innerHTML = teks;
                }
    </script>
}