
@{
    ViewBag.Title = "Request Surat Keterangan Buka Rekening";
    Layout = "~/Views/MasterLayout/MasterUser.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "BCA",
        Value = "BCA"
    });
    listItems.Add(new SelectListItem
    {
        Text = "BNI",
        Value = "BNI"
    });
    listItems.Add(new SelectListItem
    {
        Text = "BRI",
        Value = "BRI"
    });
    listItems.Add(new SelectListItem
    {
        Text = "CIMB NIAGA",
        Value = "CIMB NIAGA"
    });
    listItems.Add(new SelectListItem
    {
        Text = "MANDIRI",
        Value = "MANDIRI"
    });
    listItems.Add(new SelectListItem
    {
        Text = "DANAMON",
        Value = "DANAMON"
    });

    var nip = "";
    try
    {
        nip = Session["user_nip"].ToString();
    }
    catch (NullReferenceException)
    {
        nip = "out";
    }

}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2>Request Surat Keterangan Buka Rekening NIP: @nip</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a href="#" class="btn btn-primary" onclick="" data-toggle="modal" data-target="#mymodal">
                            <i class="glyphicon glyphicon-plus"></i>Add Request</a>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <table id="tblBR" class="table table-striped table-bordered table-sm-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center" scope="col" width="250px" height=25px>ID Request</th>
                                    <th style="text-align:center" scope="col" width="250px" height=25px>Tanggal Request</th>
                                    <th style="text-align:center" scope="col" width="150px" height=25px>Nama Bank</th>
                                    <th style="text-align:center" scope="col" width="300px" height=25px>Keperluan</th>
                                    <th style="text-align:center" scope="col" width="150px" height=25px>Status</th>
                                    <th style="text-align:center" scope="col" width="150px" height=25px>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="mymodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Request Surat Buka Rekening</h3>
                </div>
                <div class="modal-body">
                    <form id="formBR" name="formBR">
                        <div hidden>
                            <input type="text" id="txtIDReq" name="txtIDReq" class="form-control" />
                        </div>
                        <div class="form-group">
                            <span>Nama Bank Dituju</span>
                            <div>@Html.DropDownList("NamaBank", new SelectList(listItems, "Value", "Text"), "Select Bank", new { @class = "form-control", id = "NamaBank", style = "width:500px", required = "required" })</div>
                            
                        </div>

                        <div class="form-group">
                            <span>Keperluan</span>
                            <textarea name="txtKeperluan" id="txtKeperluan" maxlength="50" class="form-control" style="width:500px" onkeyup="hitungtext()" required></textarea>
                            <span id="hasil">0</span>/50 Karakter
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnSubmit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-danger" onclick="refresh()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @section script{
        <script type="text/javascript">
            $().ready(function () {
                if ('@nip' == 'out') {
                    location.href = '/home';
                }
            });
             $("#btnSubmit").on("click", function (e) {
                 e.preventDefault();
                 let formdata = $("#formBR").serialize();

                 if ($("#txtKeperluan").val().length == 0) {
                     alert("Cek Kembali Inputan Anda");
                     $("#txtKeperluan").focus();
                 } if ($("#NamaBank").val().length == 0) {
                     alert("Cek Kembali Inputan Anda");
                     $("#NamaBank").focus();
                 }
                 else if ($("#txtKeperluan").val().length != 0 && $("#NamaBank").val().length != 0){
                          if ($("#txtIDReq").val().length == 0) {
                             var check = confirm("Are you sure to input Request?")
                             if (check == true) {
                                 $.ajax({
                                     url: '@Url.Action("AddBR","User")',
                                     type: 'POST',
                                     data: formdata,
                                     success: function (data) {
                                         alert(data);
                                         refresh();
                                     },
                                     error: function () {
                                         alert("Insert Request Failed");
                                         refresh();
                                         $("#mymodal").modal('toggle');
                                     }
                                 });
                             } else {
                                 return false;
                             }

                          } else if ($("#txtIDReq").val().length > 0) {
                                 var check = confirm("Are you sure to update Request?")
                                 if (check == true) {
                                     $.ajax({
                                         url: '@Url.Action("Update","User")',
                                         type: 'POST',
                                         data: formdata,
                                         success: function (data) {
                                             alert(data);
                                             refresh();
                                         },
                                         error: function () {
                                             alert("Update Request Failed");
                                             refresh();
                                             $("#mymodal").modal('toggle');
                                         }

                                     });
                                 } else {
                                     return false;
                                 }
                          }
                        }
            });

        function hitungtext() {
            var teks = document.formBR.txtKeperluan.value.length;
            var total = document.getElementById('hasil');
            total.innerHTML = teks;
        }

            $.get(
        '@Url.Action("GetBR")',
                 function (data) {
                     $( "#tblBR tbody").empty();
                     $.each(data, function (i, model) {
                         var date = `${model.value}`
                         var button = `<button id="${model.id_req}" class='btn btn-danger'><i class='glyphicon glyphicon-trash'></i></button>`
                         var a = `<a id=${model.id_req} data-toggle="modal" data-target="#mymodal" class='btn btn-primary'>
                                     <i class='glyphicon glyphicon-edit'></i></a>`
                         if (model.status == "requested") {
                             var rows = `<tr>
                                        <td style="text-align:center" height=50px>${model.id_req}</td>
                                        <td style="text-align:center" height=50px >${date}</td >
                                        <td style="text-align:center" height=50px > ${model.nama_bank}</td >
                                        <td style="text-align:center" height=50px > ${model.keperluan}</td >
                                        <td style="text-align:center" height=50px > ${model.status}</td >
                                        <td style="text-align:center" height=50px >  ${a} ${button} </td >
                                    </tr >`;
                         } else if (model.status != "requested") {
                             var rows = `<tr>
                                        <td style="text-align:center" height=50px>${model.id_req}</td>
                                        <td style="text-align:center" height=50px >${date}</td >
                                        <td style="text-align:center" height=50px > ${model.nama_bank}</td >
                                        <td style="text-align:center" height=50px > ${model.keperluan}</td >
                                        <td style="text-align:center" height=50px > ${model.status}</td >
                                        <td style="text-align:center" height=50px > </td >
                                    </tr >`;
                         }
                        

                         $("#tblBR tbody").append(rows);
                     });
                     $("#tblBR").DataTable();
                 });

        function refresh() {

            $("#txtNamaBank").val("");
            $("#NamaBank").val("");
            $("#txtKeperluan").val("");
            var total = document.getElementById('hasil');
            location.reload();
            total.innerHTML = 0;

        }

            $("#tblBR").on("click", "button", function (e) {
            var checkstr = confirm(`are you sure you want to delete Request ${e.target.id}?`);
            if (checkstr == true) {

                $.get(`Delete/${e.target.id}`, function (data) {
                    alert(data);
                    refresh();
                });
            } else {
                return false;
            }
            });

            $("#tblBR").on("click", "a", function (e) {
                var checkstr = confirm(`are you sure you want to Update Request ${e.target.id}?`);
                if (checkstr == true) {
                    $.get(`EditBR/${e.target.id}`, function (data) {
                            $("#txtIDReq").val(`${data.id_req}`);
                            $("#NamaBank").val(`${data.nama_bank}`);
                            $("#txtKeperluan").val(`${data.keperluan}`);
                    });
                } else {
                    return false;
                }
            });
           
        </script>
    }
