@using SOPACE_MVC.Models
@model SOPACE_MVC.Models.user

@{
    ViewBag.Title = "editAdmin";
    Layout = "~/Views/MasterLayout/MasterAdmin.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px">
            <h1 class="page-header">Update Admin</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <form id="formAdd">
            <div class="col-lg-6 panel" style="background-color:lightblue">
                <section style="margin-top:20px">
                    <div class="form-group">
                        <label> NIP *</label>
                        @Html.EditorFor(model => model.NIP, new { htmlAttributes = new { @class = "form-control", id = "NIP", required = "true", @readonly = "true" } })
                        <div><label id="asd"></label></div>
                    </div>
                    <div class="form-group">
                        <label> Username *</label>
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", required = "true" } })
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", id = "password" } })
                            <div class="input-group-addon" style="padding:0px; background-color:transparent; border:none">
                                <i id="showPassword" class="glyphicon glyphicon-eye-open btn btn-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Role </label>
                        @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control", placeholder = "Role", @readonly = "readonly" } })
                    </div>
                    <p>(*) Harus di isi</p>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <button></button>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>

@section Script{
    <script src="~/Scripts/lodash.js"></script>
    <script>

        var linkBack = "";
        if ($("#NIP").val() == "superadmin") {
            linkBack = '/SuperAdmin/ViewAdmin';
        } else {
            linkBack = '/admin';
        }
        $("#password").attr("type", "password");
        $("#showPassword").click(function () {
            let txtPwd = $("#password");
            if (txtPwd.attr("type") == "password") {
                txtPwd.attr("type", "text");
            } else {
                txtPwd.attr("type", "password");
            }

        });

        $.validator.addMethod(
            "uniqueUsername",
            function (value, element) {
                
                $.post('@Url.Action("CekUsername","SuperAdmin")',
                    { usrnme: $("#username").val() },
                    function (msg) {
                        response2 = (msg == 0) ? false : true;
                    }
                )
                return response2;
            },
            "Username sudah ada"
        );

        $("#formAdd").validate({
            onkeyup: false,
            errorPlacement: function errorPlacement(error, element) { element.after(error); },
            rules: {
                "username": {
                    required: true,
                    uniqueUsername: true
                }
            },
            messages: {

            },
            submitHandler: function () {
               
                let formdata = $("#formAdd").serialize();
                $.ajax({
                    url: '@Url.Action("UpdateAdmin","SuperAdmin")',
                    type: 'POST',
                    data: formdata,
                    success: function (data) {
                        alert(data);
                        location.href = "/SuperAdmin/ViewAdmin"
                    }
                }); 
            }

        });

         @*$("#NIP").change(function () {
            $.post("@Url.Action("CekNIP","SuperAdmin")"
                ,
                {
                    nip: $("#NIP").val()
                },
                function (data) {
                    if (data == 0) {
                        $("#asd").html(`<font color="Red">NIP Tidak Terdaftar</font>`);
                        $("#asd").val(null);
                        $("#NIP").css("border-color", "red");
                    }
                    else {
                        $("#asd").html(`${data}`);
                        $("#NIP").css("border-color", "");
                    }
                });
        });*@

        @*$("#formAdd").on("submit", function (e) {            
            e.preventDefault();
            let formdata = $(this).serialize();
            $.ajax({
                url: '@Url.Action("UpdateAdmin","SuperAdmin")',
                type: 'POST',
                data: formdata,
                success: function (data) {
                    alert(data);
                    location.href = linkBack;
                }
            });
        });*@


        

        

    </script>
}


